# compiled python files
*.pyc
__pycache__/

# dotenv configuration
.env

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# mac OS-specific storage files
.DS_Store

# exclude virtual environment
.venv/

# exclude data and reports
/data/
/reports/

# custom Copilot instructions
instructions.md

# test during development
src/tests.py
